
.hero1-bg{
    background-size: 18rem;
    background-position: bottom;
  }
  
.hero2-bg{
    background-size: 16.5rem;
    background-position: bottom;
}

.hero3-bg{
    background-position: bottom;
    background-size: 17rem;
  }
  